*.iml
*.log
*.classpath
*.project
.idea/*
.settings
target/*
reports
test-output
.settings/*

selenide-vased/target
selenide-vased/test-output
selenide-vased/reports
selenide-vased/.settings
selenide-vased/.classpath
selenide-vased/.project
selenide-vased/velocity.log
selenide-vased/sql.log
selenide-vased/application.log
/selenide-vased/bin
/selenide-vased/target
/selenide-vased/hs_err_pid3120.log
/reports/
/selenide-vased/.settings/
/selenide-vased/target/
/selenide-vased/test-output/
/selenide-vased/.classpath
/selenide-vased/.project
/selenide-vased/reports
/selenide-vased/.idea
application.log
sql.log
/selenide-vased/selenide-vased.iml
selenide-vased/selenide-vased.iml
/target/
/allure-report/
/allure-results/
